################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BooksPlusServer/.vs
/BooksPlusServer/BooksPlusServer/bin/Debug/netcoreapp2.2
/BooksPlusServer/BooksPlusServer/obj
