/* You can add global styles to this file, and also import other style files */
body
{
  font-family: sans-serif;
  padding: 20px;
}
h1
{
  margin-bottom: 20px !important;
}
h4
{
  margin-bottom: 5px !important;
  color: #990000;
}
h1, h2, h3, h4, h5, h6
{
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  padding: 0px ;
}

.card-container
{
  border: solid 1px #cccccc;
  border-bottom: none !important;
  width: 350px;
  margin-top: 20px;
  box-shadow:  0px 0px 15px #cccccc;
}

.card-padding
{
  padding: 15px;
  border-bottom: solid 1px #cccccc;
}

.card
{
  width: 100%;
  background-color: white;
}
