<h1>PROMISE Demo</h1>
<button (click)="onPrev()" class="load-button" *ngIf="page > 1">Prev</button>
<button (click)="onNext()" class="load-button">Next</button>

<div class="card-container" *ngIf="books.length > 0">
  <div *ngFor="let book of books" class="card-padding">
    <div>
      <div class="add">
        <button>+</button>
      </div>
      <div class="card">
        <h4>{{book.title}}</h4>
        <div>{{book.price | currency}}</div>
        <div>{{book.publishDate | date}}</div>
      </div>
    </div>
  </div>
</div>
